<% @title="Stalker - Slider" %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag '/frontend/css/slider.css'  %>
<% end %>
<% content_for :javascript_includes_in_head do %>
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
<% end %>
<% content_for :javascript_includes do %>

    <%= javascript_include_tag "/frontend/js/libs/three.min.js" %>
    <%= javascript_include_tag "/frontend/js/libs/stats.min.js" %>
    <!--<script src="http://yui.yahooapis.com/3.9.0/build/yui/yui-min.js"></script>-->
    <%= javascript_include_tag "/frontend/js/libs/yui3/build/yui/yui-min.js" %>
    <%= javascript_include_tag "/frontend/js/libs/inputex/src/loader.js" %>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>

    <!-- Canvas dependencies -->
    <script src="/frontend/js/libs/tuiojs.js" type="text/javascript"></script>
    <script src="/frontend/js/libs/connect.js" type="text/javascript"></script>


    <%= javascript_include_tag "/frontend/js/slider.js" %>
    <script src="/frontend/js/canvas.js" type="text/javascript"></script>
    <script src="/frontend/js/screensaver.js" type="text/javascript"></script>

    <script type="text/javascript">

        YUI_config.groups.inputex.base = "frontend/js/libs/inputex/src/";
        YUI_config.groups.inputex.filter = "raw";
        YUI_config.stalkerbase = "frontend/";

        YUI().use("io", "json", "widget", "base", "event-resize",
                "inputex-string", "inputex-select", "inputex-group",
                "inputex-list", "inputex-combine", "inputex-checkbox",
                "node-event-simulate", "transition",
                "stalker-slider", "stalker-canvas", "stalker-screensaver",
        function(Y) {

            Y.on("domready", function() {
                var canvas, slider, screenSaver, dreamsToDisplay, screensaverIndex=1,
                    IDLETIMEOUT = 1000,
                    screenSaverDisplayed = false,
                    hash = window.location.hash,idleTimer, hideUI = function () {
                        Y.one("#draw-tool #undo").hide(true);
                        Y.one("#draw-tool #envoyer").hide(true);
                    }, resetUI = function() {
                        Y.all("#draw-tool img").show(true);

                        canvas.clear();
                        canvas.set("allowEdition", true);

                        slider.resetCamera();
                        slider.get("boundingBox").show(true);
                        slider.set("trackCam", false);

                        screenSaver.hide();
                    }, resetIdleTimer = function() {
                        if(typeof dreamsToDisplay === 'undefined'){
                        Y.io('/frontend/js/screensaver_multi.json', {
                        on : {
                            success : function (tx, r) {
                                // protected against malformed JSON response
                                try {
                                    dreamsToDisplay = Y.JSON.parse(r.responseText);
                                    screenSaver.set("dream",dreamsToDisplay.dreams[0])
                                    runScreenSaver();
                                }
                                catch (e) {
                                    console.log("JSON Parse failed!");
                                    return;
                                }
                            }
                        }
                        });
                        }else{
                            if(screensaverIndex < dreamsToDisplay.length){
                                screenSaver.set("dream",dreamsToDisplay.dreams[screensaverIndex])
                            }else{
                                screensaverIndex = 0;
                                screenSaver.set("dream",dreamsToDisplay.dreams[screensaverIndex])
                            }
                            screensaverIndex++;
                            runScreenSaver();
                        }
                        function runScreenSaver(){

                        if (idleTimer) {
                            idleTimer.cancel();
                        }
                        idleTimer = Y.later(IDLETIMEOUT, null, function() {
                            screenSaverDisplayed = true;
                            slider.get("boundingBox").hide(true, function () {
                                canvas.clear();
                                canvas.set("allowEdition", true);

                                slider.loadPicture(canvas.canvasNode.toDataURL("image/png"));// Show its image in the slider
                                slider.resetCamera();
                                slider.get("boundingBox").show(true);
                                hideUI();

                                screenSaver.run();
                            });
                        });

                        }
                        
                    };
   
                Y.one('#welcome').hide();

                canvas = new Y.Stalker.Canvas();                                // Render canvas (gets input from tuio)
                canvas.render();

                screenSaver = new Y.Stalker.ScreenSaver({
                    visible: false
                });
                screenSaver.anim.on("tween", function(e) {                      // Whenever screensaver anim is updated,
                    var node = e.target.get("node");
                    if (e.target.get("running")) {
                        canvas.onCursorUpdate([{x: node.getX() / Y.DOM.winWidth(), y: node.getY() / Y.DOM.winHeight()}]); //  draw it on the canvas
                    }
                });
                screenSaver.on("drawingEnd", function () {                      // When the drawing is complete
                     Y.log("drawingEnd");
                     Y.later(100, slider, slider.startImploding);               // explode it
                     resetIdleTimer();
                });
                screenSaver.render();

                if (Y.hasWebgl()) {
                    canvas.hide();

                    slider = new Y.Stalker.Slider({
                        textureWidth: (hash.length > 1) ? +hash.substring(1) : 256, // 64, 128, 256, 512, 1024, 2048
                        showQr: false,
                        //trackCam: true,
                        slideshowRunning: false
                    });
                    slider.render();

                    //slider.loadAlbumFromService(window.location.origin + "/services/dreamssecretroom");// Load album
                    slider.loadPicture(canvas.canvasNode.toDataURL("image/png"));

                    canvas.on("cursorUpdate", function() {
                        //Y.log("resetIdleTimer");
                        if (screenSaverDisplayed) {
                            resetUI();
                            screenSaverDisplayed = false;
                        };
                        resetIdleTimer();
                    });                                                         // Idle screen saver
                    canvas.on("update", function() {                            // When an input is done on the canvas
                        slider.doReload = true;
                    });
                    canvas.on("reset", function() {                             // When canvas is resetted
                        slider.loadPicture(canvas.canvasNode.toDataURL("image/png"));// Show its image in the slider
                        resetUI();
                    });
                    canvas.on("saved", function() {                             // When the canvas is saved
                        slider.loadPicture(canvas.canvasNode.toDataURL("image/png"));// Show its image in the slider
                        canvas.clear();
                        canvas.set("allowEdition", false);
                        //slider.set("trackCam", true);
                        hideUI();
                        Y.later(1000, slider, slider.startImploding);
                    });

                    //screenSaver.run();

                    var toggled = false;                                        // Debug mode, toggle canvas/slider on enter key press
                    Y.one('doc').on('key', function(e) {
                        toggled = !toggled;
                        canvas.set("visible", toggled);
                        slider.set("visible", !toggled);
                    }, 'enter');
                } else {

//                        canvas.on("saved", function() {                       // When the canvas is saved
//                            alert("Thank you for your submission");
//                        });
//                        Y.one('.loading').hide();
                    Y.one('.fail').show();
                }
            });
        });
    </script>

<% end %>

<div class="overlay" id="welcome">
    <div class="wrap">
        <div class="messagebox">

            <p class="loading" style="">Loading...</p>

            <p class="fail" style="display: none; ">
                Unfortunately, it seems that your system is currently unable to run WebGL required for this experiment. You may try installing the latest version of <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.getfirefox.net/">Firefox</a> browsers. Visit this <a href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">page</a> for more details on obtaining WebGL.
            </p>

        </div>
    </div>
</div>

<div id="draw-tool">
    <img class="controls" id="envoyer" src="/frontend/img/UI_send.png" />
    <img class="controls" id="undo" src="/frontend/img/UI_undo.png" />
    <img class="controls" id="effacer" src="/frontend/img/UI_newpage.png" />
</div>
