<% @title="Stalker - draw with smartphone" %>
<% content_for :custom_meta_tags do %>
<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<% end %>
<% content_for :stylesheet_includes do %>
	<%=
    # stylesheet_link_tag '/frontend/css/colorpicker.css'
    %>
	<%=
    # stylesheet_link_tag '/frontend/css/literally.css'
    %>
    <%= stylesheet_link_tag '/frontend/css/drawsmartphone.css'  %>
<% end %>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "/frontend/js/libs/literallycanvas.fat.js" %>
    <script type="text/javascript">
        // var DESTINATION_HEIGHT = 512,
        // DESTINATION_WIDTH = 512;

        $(document).ready(function() {
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
            }

            //Pusher
            if (window.Pusher) {
                Pusher.channel_auth_endpoint = 'pusher/auth';
                var pusher = new Pusher(PUSHER_API_KEY);
                var privateChannel = pusher.subscribe(PUSHER_CHANEL);
                var triggered;

                privateChannel.bind('pusher:subscription_error', function(status) {
                    console.log("error "+status);
                });
            }
            // disable scrolling on touch devices so we can actually draw
            $(document).bind('touchmove', function(e) {
                if (e.target === document.documentElement) {
                    return e.preventDefault();
                }
            });

            $('.literally').literallycanvas({
                imageURLPrefix: "img/",
                backgroundColor: 'rgb(0, 0, 0)',
                toolClasses: [LC.Pencil]
            });

            setTimeout(function() {
              $('.invite').fadeOut(3000);
            }, 500);

            // $('.clear-button').parent().prepend('<div class="button send-button">Send</div>');
            $('.send-button').on("click", function() {
                var canvas = $('.literally').canvasForExport();
                //$('body').empty().append(canvas);
                $.ajax({
                    type: 'POST',
                    url: '/frontend/save',
                    data: {
                        metadatas : JSON.stringify({
                            event: getURLParameter("event")
                        }),
                        imgNormal: canvas.toDataURL("image/png")
                    },
                    success: function(data) {
                        triggered = privateChannel.trigger('client-myevent', data);
                        console.log(data);
                        var url = "dream/" + data.dream_id + "?token=" + data.token;
                        $('.msg-sent .text a').each(function( index, element ) {
                            $(element).attr("href", url);
                        });
                        $('.msg-sent').fadeIn(1000);
                    }
                });
            });
$('.msg-sent').hide();
//                        $('.msg-sent').fadeIn(1000);
        });
    </script>
<% end %>

<div class="invite msg">
    <div class="logo"></div>
    <div class="text">
        <%= raw @msg_intro %>
    </div>
</div>

<div class="msg-sent msg">
    <div class="logo"></div>
    <div class="text">
        <%= raw @msg_end %>
    </div>
</div>

<div class="fs-container">
	<div class="literally"><canvas></canvas></div>
</div>
