<% @title="Stalker - Slider" %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag '/frontend/css/slider.css'  %>

    <style type="text/css">
        .logo {
            position: absolute;
            top: 10px;
            left: 10px;
            background: transparent url(frontend/img/UI_logo_wall.png) no-repeat;
            width:300px;
            height:96px;
        }
    </style>
<% end %>
<% content_for :javascript_includes_in_head do %>
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
<% end %>
<% content_for :javascript_includes do %>

    <%= javascript_include_tag "/frontend/js/libs/three.min.js" %>
    <%= javascript_include_tag "/frontend/js/libs/stats.min.js" %>
    <!--<script src="http://yui.yahooapis.com/3.9.0/build/yui/yui-min.js"></script>-->
    <%= javascript_include_tag "/frontend/js/libs/yui3/build/yui/yui-min.js" %>
    <%= javascript_include_tag "/frontend/js/libs/inputex/src/loader.js" %>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script type="text/javascript">
        var events = new Array();
        <% @events.each do |event| %>
            events.push({name:"<%= event.name %>", id: <%= event.id %>, image: "<%= event.image_file_name %>", display_only_accepted: <%= event.display_only_accepted %>});
        <% end %>
    </script>
    <%= javascript_include_tag "/frontend/js/slider.js" %>
    <%= javascript_include_tag "/frontend/js/pusher.js" %>

    <script type="text/javascript">
        YUI_config.groups.inputex.base = "frontend/js/libs/inputex/src/";
        YUI_config.groups.inputex.filter = "raw";
        YUI_config.stalkerbase = "frontend/";

        YUI().use("io", "json", "widget", "base", "event-resize",
            "inputex-string", "inputex-select", "inputex-group",
            "inputex-list", "inputex-combine", "inputex-checkbox",
            "transition",
            "stalker-slider", "stalker-pusher", function(Y) {

            Y.on("domready", function() {
                if (Y.hasWebgl()) {
                    Y.one('#welcome').hide();
                    var show_qr = true;
                    var show_legend = true;
                    if("<%= @show_qr %>" == "false"){
                        var show_qr = false;
                    }
                    if("<%= @show_legend %>" == "false"){
                        var show_legend = false;
                    }
                    var getURLParameter = function(name) {
                            var param = (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]
                            return param ? decodeURI(param) : param;
                        },
                            slider = new Y.Stalker.Slider({
                            //textureWidth: (window.location.hash.length > 1) ? +window.location.hash.substring(1) : 256, // 64, 128, 256, 512, 1024, 2048
                            textureWidth: 256,                                  // 64, 128, 256, 512, 1024, 2048
                            slideshowRunning: true,
                            showLegend: show_legend,
                            showQr: show_qr
                        });
                    slider.render();                                            // Render slider
                    slider.loadAlbumFromService(window.location.origin + "/services/<%= @service_url %>");// Load album
                    //dreamssecretroom

                    if (window.Pusher && window.PUSHER_API_KEY) {
                        // If pusher is present,
                        Y.Stalker.Pusher.getChanelDreamCreated().bind(PUSHER_EVENT_DREAM_CREATED, function(data) {  // Dream submitted events

                            for(var i= 0; i < events.length; i++){
                                if(parseInt(events[i]["id"]) == parseInt(slider.get("event"))){
                                    if(!events[i]["display_only_accepted"]){
                                        slider.loadPicture(PATH_TO_DREAMS + data.imgUrl)
                                    }
                                }
                            }
                        });


                         Y.Stalker.Pusher.getChanelDreamRequested().bind(PUSHER_EVENT_DREAM_REQUESTED, function(data) {  // Dream
                            if(parseInt(slider.get("event")) == parseInt(data.eventId)){
                                slider.loadPicture(PATH_TO_DREAMS + data.dreamId + DREAM_EXTENSION);
                            }
                        });



                        Y.Stalker.Pusher.getChanelDreamValidated().bind(PUSHER_EVENT_DREAM_VALIDATED, function (data) {
                            // Image approved event
                            var data = {
                                name: PATH_TO_DREAMS + data.imgUrl,
                                thumbnail_url: PATH_TO_DREAMS_THUMBNAILS + data.imgUrl,
                                photo_url: PATH_TO_DREAMS + data.imgUrl
                            };

                            slider.dreamAlbum.splice(0, 0, data);

                            slider.populateAlbum(slider.dreamAlbum);
                            slider.selectFirstPicture();
                        });
                    }
                } else {
                    Y.one('.loading').hide();
                    Y.one('.fail').show();
                }
            });
        });
    </script>

<% end %>

<div class="logo"></div>
<div class="overlay" id="welcome">
    <div class="wrap">
        <div class="messagebox">

            <p class="loading" style="">Loading...</p>

            <p class="fail" style="display: none; ">
                Unfortunately, it seems that your system is currently unable to run WebGL required for this experiment. You may try installing the latest version of <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.getfirefox.net/">Firefox</a> browsers. Visit this <a href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">page</a> for more details on obtaining WebGL.
            </p>

        </div>
    </div>
</div>
