<% @title="Stalker - Slider" %>
<% content_for :stylesheet_includes do %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= stylesheet_link_tag '/frontend/css/slider.css'  %>
<%= stylesheet_link_tag '/frontend/css/web_slider_1.css'  %>

<%= stylesheet_link_tag '/frontend/css/slider-range-dreams.css'  %>

<% end %>
<% content_for :javascript_includes_in_head do %>
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
<% end %>
<% content_for :javascript_includes do %>

    <%= javascript_include_tag "/frontend/js/libs/three.min.js" %>

    <%= javascript_include_tag "/frontend/js/libs/stats.min.js" %>

    <!--<script src="http://yui.yahooapis.com/3.9.0/build/yui/yui-min.js"></script>-->
    <%= javascript_include_tag "/frontend/js/libs/yui3/build/yui/yui-min.js" %>
    <%= javascript_include_tag "/frontend/js/libs/inputex/src/loader.js" %>
    <%= javascript_include_tag "/frontend/js/libs/jquery-1.8.3.min.js"%>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <%= javascript_include_tag "/frontend/js/libs/enscroll-0.4.0.min.js"%>
    <%= javascript_include_tag "/frontend/js/libs/waypoints.min.js"%>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>

    <%= javascript_include_tag "/frontend/js/slider.js" %>
    <%= javascript_include_tag "/frontend/js/web_slider_1.js" %>

    <script type="text/javascript">
        YUI_config.groups.inputex.base = "frontend/js/libs/inputex/src/";
        YUI_config.groups.inputex.filter = "raw";
        YUI_config.stalkerbase = "frontend/";

        YUI().use("io", "json", "widget", "base", "event-resize",
                "inputex-string", "inputex-select", "inputex-group",
                "inputex-list", "inputex-combine", "inputex-checkbox",
                "transition",
                "stalker-slider", "stalker-webslider", function(Y) {

            Y.on("domready", function() {

                if (Y.hasWebgl()) {
                    Y.one('#welcome').hide();
                    var hash = window.location.hash,
                        slider = new Y.Stalker.WebSlider({
                            textureWidth: (hash.length > 1) ? +hash.substring(1) : 256, // 64, 128, 256, 512, 1024, 2048
                            particleSize: 13, // default: 10
                            slideshowRunning: true,
                            showLegend: true,
                            showQr: false
                        });
                    slider.render();                                            // Render slider
                    slider.loadAlbumFromService(window.location.origin + "/services/dreamssecretroom");// Load album

                } else {
                    Y.one('#welcome').hide();
                    $("#preview-strip").slider_web();
                    /*Y.one('.loading').hide();
                    Y.one('.fail').show();*/
                }
            });
        });
    </script>

<% end %>



<div class="overlay" id="welcome">
    <div class="wrap">
        <div class="messagebox">

            <p class="loading" style="">Loading...</p>

            <p class="fail" style="display: none; ">
                Unfortunately, it seems that your system is currently unable to run WebGL required for this experiment. You may try installing the latest version of <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.getfirefox.net/">Firefox</a> browsers. Visit this <a href="http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation">page</a> for more details on obtaining WebGL.
            </p>

        </div>
    </div>
</div>


