<% content_for :header_content do %>
  <%= render 'layouts/header_admin' %>
<% end %>
<div id="content" class="container">
  <h1>Stats</h1>

  <p>There is <b><%= @dreams.count %></b> dreams in total (<%= @dreams.where(:is_valid => nil, :secret_room => nil).count() %> untagged)</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event</th>
        <th><img src="/img/star.png"/></th>
        <th><img src="/img/check.png"/></th>
        <th><img src="/img/delete.png"/></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each_with_index do |event, index| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.dreams.where(:is_valid=>true, :secret_room=>true).count %></td>
          <td><%= event.dreams.where(:is_valid=>true, :secret_room=>false).count %></td>
          <td><%= event.dreams.where(:is_valid=>false, :secret_room=>false).count %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>All</td>
        <td><%= @dreams.where(:is_valid=>true, :secret_room=>true).count %></td>
        <td><%= @dreams.where(:is_valid=>true, :secret_room=>false).count %></td>
        <td><%= @dreams.where(:is_valid=>false, :secret_room=>false).count %></td>
      </tr>
    </tfoot>
  </table>

  

  

  <br />
  <div style="display:none;">
    <button class="btn btn-large btn-danger" type="button" onclick="location.href='drestroy_all'">Clean db</button>
    <br /><br />
    <form name="populate_dreams" action="populate" method="post">
      <input type="text" value="1000" name="nb_of_dreams_to_add" style="height: 34px; vertical-align: top; margin-right: 20px; width:100px; font-size:30px;"/>
      <input type="submit" class="btn btn-large" value="Populate db" />
    </form>
  </div>



</div>
