<h1>Listing dreams</h1>

<table class="table table-bordered">
  <tr>
    <th>File name</th>
    <th>Is valid</th>
    <th>Categories</th>
    <th></th>
    <th></th>
  </tr>

<% @dreams.each do |dream| %>
  <tr>
    <td><%= dream.file_name %></td>
    <td><%= dream.is_valid %></td>
    <td>
      <ul>
        <%  dream.categories.each do |category| %>
            <li><%= category.name %></li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to "Edit", {:controller => "dreams", :action => "edit", :id => dream.id}, :class => 'btn' %></td>
    <td><%= button_to( 'Destroy', dream, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger")%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dream', new_dream_path %>
