<% content_for :header_content do %>
  <%= render 'layouts/header_admin' %>
<% end %>
<div id="content" class="container">
  <h1>Listing dreams</h1>
  <div style="text-align:center;">
    <div class="btn-group" style="margin: 0 auto 20px auto;">
      <a class="btn <%= (@is_valid && @secret_room)? 'active' : '' %>" href="?sort=<%= @sort %>&valid=true&special=true"><img src="/img/star.png" alt="star" /> Special dreams</a>
      <a class="btn <%= (@is_valid && !@secret_room)? 'active' : '' %>" href="?sort=<%= @sort %>&valid=true&special=false"><img src="/img/check.png" alt="ok" /> Accepted dreams</a>
      <a class="btn <%= (!@is_valid && !@secret_room)? 'active' : '' %>" href="?sort=<%= @sort %>&valid=false&special=false"><img src="/img/delete.png" alt="delete" /> Unaccepted dreams</a>
    </div>
  </div>
  <% if not @dreams.empty?  %>
  

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Dream</th>
          <th>Event</th>
          <th><a href="?sort=<%= @sort=="asc"? "desc" : "asc" %>&valid=<%= @is_valid %>&special=<%= @secret_room %>"><i class="icon-arrow-<%= @sort=="asc"? "up" : "down" %>"></i>Date (click to sort)</a></th>
          <th>Change status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @dreams.each do |dream| %>
        <% puts dream.created_at.class %>
          <tr>
            <td>
              <img class="dream" class src="<%= PATH_TO_DREAMS_THUMBNAILS + dream.id.to_s + DREAM_EXTENSION %>" alt="<%= dream.id.to_s %>" />
            </td>
            <td>
              <% if dream.event != nil %>
                <%= dream.event.name %>
              <% elsif dream.event_id == 0 %>
                Table interactive
              <% end %>
            </td>
            <td>
              <ul>
                <%= dream.created_at.to_s(:standard) %>
              </ul>
            </td>
            <td>
              <div class="btn-group btn-group-vertical" style="margin: 0 auto 20px auto;">
                <a class="btn" style="display:<%= (@is_valid && @secret_room)? 'none' : '' %>" href="dreams/changestatus/<%= dream.id %>/1/1"><img src="/img/star.png" alt="star" /> Special dreams</a>
                <a class="btn" style="display:<%= (@is_valid && !@secret_room)? 'none' : '' %>" href="dreams/changestatus/<%= dream.id %>/1/0"><img src="/img/check.png" alt="ok" /> Accepted dreams</a>
                <a class="btn" style="display:<%= (!@is_valid && !@secret_room)? 'none' : '' %>" href="dreams/changestatus/<%= dream.id %>/0/0"><img src="/img/delete.png" alt="delete" /> Unaccepted dreams</a>
              </div>


            </td>
            <td><%= button_to( 'Delete', dream, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger")%></td>
          </tr>
        <% end %>
    </tbody>
    </table>
    <div id="pagination">
     <%= paginate @dreams %>
    </div>



  <% else %>
    No dreams
  <% end %>
</div>