<h1>Listing dreams</h1>

<% if not @dreams.empty?  %>
  <table class="table table-bordered">
  <% @dreams.each do |dream| %>
  <% if dream.is_valid? %>
    <tr class="success">
  <% else %>
    <tr class="error">
  <% end %>
      <td>
        <img class="dream" class src="<%= PATH_TO_DREAMS_TREATED + dream.file_name %>" alt="<%= dream.file_name %>" />
      <td>
        <ul>
          <%  dream.categories.each do |category| %>
              <li><%= category.name %></li>
          <% end %>
        </ul>
      </td>
      <td><%= link_to "Edit", {:controller => "dreams", :action => "edit", :id => dream.id}, :class => 'btn' %></td>
      <td><%= button_to( 'Destroy', dream, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger")%></td>
    </tr>
  <% end %>
  </table>

<% else %>
  No dreams
<% end %>