<% content_for :javascript_includes do %>
	<%= javascript_include_tag "/javascripts/jquery.cookies.js" %>
  	<%= javascript_include_tag "/javascripts/tag_dreams.js" %>
  	<style>

  	div.dream div.zoom{
		z-index: 1;
		width: 25%;
		min-height: 100%;
		float: left;
		margin-top: -125px;
		position: relative;
	}

	div.dream div.valid{
		z-index: 1;
		width: 75%;
		min-height: 100%;
		float: left;
		margin-top: -125px;
		position: relative;

	}
  	</style>
<% end %>
<% content_for :header_content do %>
	<%= render 'layouts/header_admin' %>
<% end %>
<div id="content" class="container">
	<div id="header-controls">
		<h1>Tag dreams </h1>
		<h5><%= @event_name %></h5>
		<div class="btn-toolbar" style="margin-left: 300px;">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">Grouped selection <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			        <li id="toggleAllOk"><a href="#"><img src="/img/check.png" alt="ok" /> All ok</a></li>
			        <li class="divider"></li>
			        <li id="toggleAllOkPlus"><a href="#"><img src="/img/star.png" alt="star" /> All in secret room</a></li>
			        <li class="divider"></li>
			        <li id="toggleAllNok"><a href="#"><img src="/img/delete.png" alt="delete" /> All not ok</a></li>
			        <li class="divider"></li>
			        <li id="toggleAllUnselected"><a href="#"><img src="/img/alert.png" alt="ok" /> Deselect all</a></li>
			    </ul>
			</div>
			<button id="send" type="button" class="btn disabled">Send</button>
		</div>
		<div class="btn-toolbar"  style="margin-left: 600px;">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">Select event <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			    	<li><a href="/dreams/tag">All</a></li>
			    	<li class="divider"></li>
			    	<li><a href="?event_id=0">Table interactive</a></li>
			    	<li class="divider"></li>
			    	<% @events.each_with_index do |event, index| %>
			    		<li><a href="?event_id=<%= event.id %>"><%= event.name %></a></li>
			    		<% if index < (@events.size - 1) %>
			        		<li class="divider"></li>
			        	<% end %>
			    	<% end %>
			    </ul>
			</div>
		</div>
		<div class="btn-toolbar"  style="margin-left: 600px; display:none;">
				<div class="btn-group">
					<a class="btn bit" href="#"><i class="icon-th-large"></i></a>
				    <a class="btn lot" href="#"><i class="icon-th"></i></a>
				</div>
		</div>              
	</div>


	<div id="tag_dreams" class="<% if (@nbImgPerPage == 12)%>bit<% else %>lot<% end  %>">
		<% if not @dreams.empty?  %>
		 
			<% @dreams.each do |dream| %>
				<div class="dream" id="dream_<%= dream.id.to_s %>">
					<div class="decision"></div>
					<a class="not_a_link" id="<%= PATH_TO_DREAMS + dream.id.to_s + DREAM_EXTENSION %>" alt="<%= dream.id.to_s %>"><img class="dream" src="<%= PATH_TO_DREAMS_THUMBNAILS + dream.id.to_s + DREAM_EXTENSION %>" alt="<%= dream.id.to_s %>" /></a>
					<div class="zoom"></div>
					<div class="valid"></div>
					<% if dream.event != nil %>
						<span><%= dream.event.name %></span>
					<% elsif dream.event_id == 0 %>
						<span>Table interactive</span>
					<% else %>
						<span>Drawsmartphone without event</span>
					<% end %>
				</div>
				
			<% end%>
		<% else %>
		  No dreams to tag
		<% end %>
	</div>
	<div id="pagination">
		<%= paginate @dreams %>
	</div>
</div>