<% @title="New user" %>

<% if @user.errors.any? %>
	<% content_for :form_errors do %>
		<ul>
			<% for message_error in @user.errors.full_messages %>
				<li><%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
<% end %>

<div class="page-header">
	<h1>Create a new user</h1>
</div>

<div class= "form">
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
		<fieldset>
			<div class="control-group">
    			<%= f.label :group, :class => "control-label" %>
    			<div class="controls">
    				<%= collection_select(:user, :group_id, Group.all, :id, :name) %>
    			</div>
  			</div>
  			<div class="control-group">
    			<%= f.label :username, :class => "control-label" %>
    			<div class="controls">
      				<%= f.text_field :username %>
    			</div>
  			</div>
  			<div class="control-group">
    			<%= f.label :email, :class => "control-label" %>
    			<div class="controls">
      				<%= f.text_field :email %>
    			</div>
  			</div>
  			<div class="control-group">
    			<%= f.label :password, :class => "control-label" %>
    			<div class="controls">
      				<%= f.password_field :password %>
    			</div>
  			</div>
  			<div class="control-group">
    			<%= f.label :password_confirmation, :class => "control-label" %>
    			<div class="controls">
      				<%= f.password_field :password_confirmation %>
    			</div>
  			</div>
  			<div class="actions">
    			<%= f.submit :Signup %>
  			</div>
		</fieldset>
	<% end %>
</div>