<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/javascripts/events_form.js" %>
<% end %>

<% if @event.errors.any? %>
    <% content_for :form_errors do %>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    <% end %>
  <% end %>
<%= form_for(@event,:html => { :class => "form-horizontal", :multipart => true }) do |f| %>
<fieldset>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_active, "Is active", :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :is_active, :id => "form-events-is_active" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :display_only_accepted, "Display only accepted dreams", :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :display_only_accepted, :id => "form-events-display_only_accepted" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, "Image", :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
