<% content_for :header_content do %>
  <%= render 'layouts/header_admin' %>
<% end %>
<div id="content" class="container">
  <h1>Listing events</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Is active</th>
          <th>Display only accepted dreams</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><img src="events/<%= event.image_file_name%>" /></td>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td>
              <% if event.is_active? %>
                YES
              <% else %>
                NO
              <% end %>
            </td>
            <td>
              <% if event.display_only_accepted? %>
                YES
              <% else %>
                NO
              <% end %>
            </td>
            <td><%= link_to "Edit", {:controller => "events", :action => "edit", :id => event.id}, :class => 'btn' %></td>
            <td><%= button_to( 'Destroy', event, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger")%></td>
          </tr>
         <% end %>
      </tbody>
    </table>


  <br />

  <%= link_to 'New Event', new_event_path %>
</div>
