<h1>Listing events</h1>

<% if not @events.empty?  %>

  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td>
        <% if event.categories.empty? %>
        All categories
        <% else %>
          <ul>
            <%  event.categories.each do |category| %>
                <li><%= category.name %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td><%= link_to "Edit", {:controller => "events", :action => "edit", :id => event.id}, :class => 'btn' %></td>
      <td><%= button_to( 'Destroy', event, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger")%></td>
    </tr>
   <% end %>
  </table>

<% else %>
  No events
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
