<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= csrf_meta_tag %>
    <%= yield :custom_meta_tags %>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheet_includes %>
    <script>
      var PUSHER_CHANEL = '<%= PUSHER_CHANEL %>'
      var PUSHER_EVENT = '<%= PUSHER_EVENT %>'
      var PUSHER_API_KEY = '<%= PUSHER_API_KEY %>';
      var DREAM_EXTENSION = '<%= DREAM_EXTENSION %>';
      var PATH_TO_DREAMS = '<%= PATH_TO_DREAMS %>';
      var PATH_TO_DREAMS_THUMBNAILS = '<%= PATH_TO_DREAMS_THUMBNAILS %>';
    </script>
    <%= yield :javascript_includes_in_head %>

  </head>
  <body>
    <%= yield :header_content %>
    <div id="messages"><%= render 'layouts/messages' %></div>    
    <%= yield %>
      
    
    <%= javascript_include_tag 'jquery-1.9.0.min.js' %>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    
    <%= javascript_include_tag '/javascripts/stalker.js' %>
    <%= javascript_include_tag 'rails.js' %>
    <%= javascript_include_tag '/bootstrap/js/bootstrap.min.js' %>
    <%= yield :javascript_includes %>
  </body>
</html>